In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [5]:
url = "https://api.yelp.com/v3/businesses/search?authorization:api_key&location=chicago&limit=1"

api_key = "CzlK_Ax6avC-DOL7xD8-e8e-X4-ga2DQMGwV0XYS0b3ae939gNAelzDfarNXhz-ZMIBOyOuiOcOiKTya6j7MLw7pkhK1WxDndC6MbJfszdZk9HXrDKvNCQN2BN2uYHYx"

header = {"Authorization": "Bearer %s" % api_key}

response = requests.get(url, headers = header)

yelp_data = response.json()
yelp_data

print(json.dumps(yelp_data, indent=4, sort_keys=True))

{
    "businesses": [
        {
            "alias": "girl-and-the-goat-chicago",
            "categories": [
                {
                    "alias": "newamerican",
                    "title": "American (New)"
                },
                {
                    "alias": "bakeries",
                    "title": "Bakeries"
                },
                {
                    "alias": "coffee",
                    "title": "Coffee & Tea"
                }
            ],
            "coordinates": {
                "latitude": 41.88415330470642,
                "longitude": -87.64797390222085
            },
            "display_phone": "(312) 492-6262",
            "distance": 3396.466512818865,
            "id": "qjnpkS8yZO8xcyEIy5OU9A",
            "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/yfuzM9PAqTYIYTusIg8U2A/o.jpg",
            "is_closed": false,
            "location": {
                "address1": "809 W Randolph St",
                "address2": "",
                "address3": "",
                "city": "Chicago",
                "country": "US",
                "display_address": [
                    "809 W Randolph St",
                    "Chicago, IL 60607"
                ],
                "state": "IL",
                "zip_code": "60607"
            },
            "name": "Girl & The Goat",
            "phone": "+13124926262",
            "price": "$$$",
            "rating": 4.5,
            "review_count": 8742,
            "transactions": [
                "delivery"
            ],
            "url": "https://www.yelp.com/biz/girl-and-the-goat-chicago?adjust_creative=dMNQxodnX5dEFHm9gd8KXQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=dMNQxodnX5dEFHm9gd8KXQ"
        }
    ],
    "region": {
        "center": {
            "latitude": 41.90515925618311,
            "longitude": -87.67776489257812
        }
    },
    "total": 8500
}

In [8]:
response = requests.get(url, headers = header)
data = response.json()['businesses']
alias = []
business_id = []
city = []

for i in range(len(data)):
    alias.append(data[i]["alias"])
    business_id.append(data[i]["id"])
    city.append(data[i]["location"]["city"])
columns = {"Restaurant Name": alias, "business_id": business_id, "City": city}

restaurantDF = pd.DataFrame(columns)

restaurantDF

             Restaurant Name             business_id     City
0  girl-and-the-goat-chicago  qjnpkS8yZO8xcyEIy5OU9A  Chicago

In [7]:
data_file = open("yelp_academic_dataset_covid_features.json")
data = []
for line in data_file:
    data.append(json.loads(line))
    
covid_df = pd.DataFrame(data)

data_file.close()

covid_df

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...
209790,PAuSe4-JzDLq6YO6OKPeTg,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209791,GQEe9qAe2alEA1zzRzUr0w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209792,T-PWmMvktw0nMNO4N5XLXA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209793,stVu6q5hDxQuppwoo6m0EQ,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209794,UYig-qxG9zpzuMKns-1tDg,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [9]:
merge_df = pd.merge(restaurantDF, covid_df, on="business_id", how="right")
merge_df

,Restaurant Name,business_id,City,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,NaN,9kXRUIkwdDtnAPO6tVo51g,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,NaN,H6D5HOTfMjrZt7r1EObZ1g,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,NaN,FYddq7fUtzobZcw4jOJgVA,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,NaN,c75jLTjlgA9q3gImLEGT6w,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,NaN,YfzPiY50h_10Sjlg3mnNWQ,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...
209790,NaN,PAuSe4-JzDLq6YO6OKPeTg,NaN,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209791,NaN,GQEe9qAe2alEA1zzRzUr0w,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209792,NaN,T-PWmMvktw0nMNO4N5XLXA,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209793,NaN,stVu6q5hDxQuppwoo6m0EQ,NaN,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209794,NaN,UYig-qxG9zpzuMKns-1tDg,NaN,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [ ]:
for i in merge_df